<div class="container">

<div class="jumbotron">

        <div class="jumbotron">


<input type="text" class = "form-control"(keyup)="onNameKeyUp($event)"><br>

<br>

<input type ="text" class="form-control" ng-model="string" (keyup)="onPasswordKeyUp($event)" [name]="password">


<button (click)="getUserbyUsername()" class="form-control">Submit</button>

<button class="form-control" (click)="register()">Register</button>

</div>

</div>



</div><br>
    <div class="container"*ngIf="showInfo1">
<div class="jumbotron"*ngIf="showInfo1">
<button class="form-control" (click)="addPerson()">Add
</button>
<div *ngFor="let n of names">
<br>
{{n[0]}}
<br>
    <br>

        {{n[1]}}

    <br>
    Enter Name
<input (keyup)="onNamesKeyUp($event)" class = "form-control">
<button (click)= "changeName(n[0],name1)" class="btn">change name</button>
<br>
<br>
    <button (click)="changeValue( 4,n[0])" class="btn">Estatic</button>
    <button (click)="changeValue( 3,n[0])" class="btn">Happy</button>
    <button (click)="changeValue( 2,n[0])" class="btn">mildly happy</button>
    <button (click)="changeValue( 1,n[0])" class="btn">content</button>  
    <button (click)="changeValue(-1,n[0])" class="btn">annoyed</button>
    <button (click)="changeValue(-2,n[0])" class="btn">displease</button>
    <button (click)="changeValue(-3,n[0])" class="btn">angry</button>
    <button (click)="changeValue(-4,n[0])" class="btn">super angry</button>
<br>
    Their General mood
    <br>    <button (click)="changeValue1( 4,n[0])" class="btn">Estatic</button>
    <button (click)="changeValue1( 3,n[0])" class="btn">Happy</button>
    <button (click)="changeValue1( 2,n[0])" class="btn">mildly happy</button>
    <button (click)="changeValue1( 1,n[0])" class="btn">content</button>  
    <button (click)="changeValue1(-1,n[0])" class="btn">annoyed</button>
    <button (click)="changeValue1(-2,n[0])" class="btn">displease</button>
    <button (click)="changeValue1(-3,n[0])" class="btn">angry</button>
    <button (click)="changeValue1(-4,n[0])" class="btn">super angry</button>
</div>
<button (click)="calculation()" class = "form-control">Calculate</button>

</div>
</div>
<div class = "container"> 
<div class="jumbotron"*ngIf="showReg">
Username
<input class="form-control"(keyup)= "onNamerKeyUp($event)">
Password
<input class="form-control"(keyup)= "onPasswordrKeyUp($event)">
<br>
<button class="form-control"(click)=register()>Submit</button>
<button class="form-control">Cancel</button>
    <div class="container"*ngIf="showReg">
</div>
</div>
</div>