<div class="container">

<div class="jumbotron">

        <div class="jumbotron">


<input type="text" class = "form-control"(keyup)="onNameKeyUp($event)"><br>

<br>

<input type ="text" class="form-control" ng-model="string" (keyup)="onPasswordKeyUp($event)" [name]="password">

<br>

<button (click)="getUserbyUsername()" class="form-control">Submit</button>

<button class="form-control" (click)="register()">Register</button>

</div>

</div>



</div><br>
    <div class="container"*ngIf="showInfo1">

<div class="jumbotron"*ngIf="showInfo1">




    <br>

        {{value}}

    <br>

    <button (click)="changeValue(4)" class="btn">Estatic</button>

    <br>

    <button (click)="changeValue(3)" class="btn">Happy</button>

    <br>

    <button (click)="changeValue(2)" class="btn">mildly happy</button>

    <br>

    <button (click)="changeValue(1)" class="btn">content</button>

    <br>

    

    <button class="btn">+0</button>

    <br>

    <button (click)="changeValue(-1)" class="btn">annoyed</button>

    <br>

    <button (click)="changeValue(-2)" class="btn">displease</button>

    <br>

    <button (click)="changeValue(-3)" class="btn">angry</button>

    <br>

    <button (click)="changeValue(-4)" class="btn">super angry</button>

</div>

</div>

<div class="jumbotron"*ngIf="showReg">

    <div class="container"*ngIf="showReg">

        test

</div>

</div>